.page-container{
    padding: 20px;
}
.mgb20{
    margin-bottom: 20px;
}
.dialog-footer{
    text-align: center;
}
.ta-r{
    text-align: right;
}
.ta-l{
    text-align: left;
}
.pdr{
    padding-right: 10px;
}
.pdl{
    padding-left: 10px;
}